.bigcontainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* margin: auto;
  margin-top: 50px; */
  width: 100%;
  max-width: 500px;
  backdrop-filter: blur(20px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
}
.text {
  color: #fff;
  font-size: 37px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #fff;
  border-radius: 9px;
}
.inputs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 56px;
  background: #eaeaea;
  border-radius: 6px;
}
.input svg {
  margin: 0px 25px;
}
.input input {
  height: 40px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.under-text {
  margin-top: 5px;
  color: #fff;
  width: 350px;
  margin: auto;
  font-size: 18px;
}
.under-text span {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 15px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background: #4c00b4;
  padding: 10px 0;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.color-gray {
  background: #eaeaea;
  color: #676767;
}

svg {
  font-size: 20px;
}
.pass-show {
  cursor: pointer;
}
