@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Salsa', cursive;

}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.appDiv {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.appDiv video {
  object-fit: cover;
}
